@import "@radix-ui/colors/sand.css";
@import "@radix-ui/colors/sand-dark.css";
@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/orange-dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: var(--sand-2);
    --foreground: var(--sand-12);

    --muted-foreground: var(--sand-11);
    --hovered-background: var(--sand-3);
}

body {
    color: var(--foreground);
    background: var(--background);
}
